<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../styles/style.css">
    <script src="https://kit.fontawesome.com/30c6872bce.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="page-wrap">
        <div class="social-header">
            <div class="icon-container">
                <div><i class="social-one fa-solid fa-wifi fa-1x"></i></div>
                <div><i class="social-two fa-brands fa-facebook-f fa-1x"></i></div>
                <div><i class="social-three fa-brands fa-twitter fa-1x"></i></div>
                <div><i class="social-four fa-brands fa-instagram fa-1x"></i></div>
                <div><i class="social-five fa-brands fa-linkedin fa-1x"></i></div>
            </div>
        </div>

        <div class="resume-page">
            <div class="resume-top">
                <div class="resume-top-left">
                    <div class="img-box">
                        <img src="../images/01.jpeg" width="150px" alt="Photo of Yangyang">
                    </div>
                </div>

                <div class="resume-top-middle">
                    <h3>Yangyang Pearson</h3>
                    <p style="margin-top:0.2em; color:rgb(181, 37, 171)">Full Stack Developer</p>
                </div>

                <div class="resume-top-right">
                    <div class="resume-top-details">
                        <div class="resume-top-detail-names">
                            <div class="resume-top-detail-item-name">Name:</div>
                            <div class="resume-top-detail-item-name">DOB:</div>
                            <div class="resume-top-detail-item-name">Address:</div>
                            <div class="resume-top-detail-item-name">Phone:</div>
                            <div class="resume-top-detail-item-name">Email:</div>
                        </div>
                        <div class="resume-top-detail-values">
                            <div class="resume-top-detail-item-value">Yangyang Pearson</div>
                            <div class="resume-top-detail-item-value">1992 - 12 - 13</div>
                            <div class="resume-top-detail-item-value">Minntonka St Louis Park</div>
                            <div class="resume-top-detail-item-value">838-200-0616</div>
                            <div class="resume-top-detail-item-value"><a href="https://mail.google.com/mail/u/0/#inbox">yangyangzhao1213@gmail.com</a></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="resume-description">
                Hello, My name is Yangyang. I come from north of China. I am turning 30 years old this December. 30 sounds like a important and different stage of life.
                No matter what life will bring to me, I'll enjoy my life anyway. This year I made a big change. I am changing my career from a chinese teacher to full stack developer.
                I enjoy coding but also love teaching. I had lots of cool experience. Feel free to contact me. I would love to share more about myself.
            </div>
            <hr>
            <div class="main-content">
                <div class="main-content-left">
                    <div class="main-content-left-up">
                        <div class="work-experience">
                            <i class="icon fa-solid fa-angle-down"></i>Work Experience
                        </div>
                        <div class="experice-one">
                            <div class="icon">
                                <i class="right-icon fa-solid fa-angle-right fa-2xs"></i>
                            </div>
                            <div class="job-title">
                                <p>St Cloud State University</p>
                                <p style="font-size: small;">Chinese teacher</p>
                            </div>
                            <div class="year">2019 - 2021</div>
                        </div>
                        <div class="experice-one-description">
                            <p style="font-size: small;">Chinese teacher in Chinese Immersion Program grades 1, 2 and 5.
                            </p>
                        </div>
                        <hr>

                        <div class="experice-two">
                            <div class="icon">
                                <i class="right-icon fa-solid fa-angle-right fa-2xs"></i>
                            </div>
                            <div class="job-title">
                                <p>St. Francis Xavier Convent</p>
                                <p style="font-size: small;">Chinese teacher</p>
                            </div>
                            <div class="year">2015 - 2017</div>
                        </div>
                        <div class="experice-one-description">
                            <p style="font-size: small;">Public and International School from k-12 in Bangkok, Thailand.
                                I taught Chinese Language and Chinese Culture kindergarten and grades 2, 4, 8, and 11
                            </p>
                        </div>
                        <hr>

                        <div class="experice-three">
                            <div class="icon">
                                <i class="right-icon fa-solid fa-angle-right fa-2xs"></i>
                            </div>
                            <div class="job-title">
                                <p>Tencent</p>
                                <p style="font-size: small;">Web Operator</p>
                            </div>
                            <div class="year">2014 - 2015</div>
                        </div>
                        <div class="experice-one-description">
                            <p style="font-size: small;">Internet and technology company in Tianjin, China. I worked in
                                Food, Life, and Health sections, edited the videos and published to the website.</p>
                        </div>
                    </div>

                    <div class="main-content-left-down">
                        <div class="eductaion-experience">
                            <i class="icon-two fa-solid fa-angle-down"></i>Education
                        </div>
                        <div class="experice-one">
                            <div class="icon">
                                <i class="right-icon-two fa-solid fa-angle-right fa-2xs"></i>
                            </div>
                            <div class="school-title">
                                <p>Jilin International Studies University</p>
                                <p style="font-size: small;">Master Degree</p>
                            </div>
                            <div class="year">2018 - 2020</div>
                        </div>
                        <div class="experice-one-description">
                            <p style="font-size: small;">Teaching Chinese as Second Language</p>
                        </div>
                        <hr>

                        <div class="experice-two">
                            <div class="icon">
                                <i class="right-icon-two fa-solid fa-angle-right fa-2xs"></i>
                            </div>
                            <div class="school-title">
                                <p>Tianjin Normal University </p>
                                <p style="font-size: small;">Bachelor Degree</p>
                            </div>
                            <div class="year">2011 - 2015</div>
                        </div>
                        <div class="experice-one-description">
                            <p style="font-size: small;">Broadcasting and Hosting</p>
                        </div>
                    </div>
                </div>

                <div class="main-content-right">
                    <div class="main-content-right-top">
                        <div class="main-content-right-top-tittle">PROGRAMING SKILLS</div>
                    </div>
                    <div class="bar">
                        <div class="bar-text">SQL</div>
                        <div class="bar-percentage">
                            <div class="bar-colored">80%</div>
                        </div>

                        <div class="bar-text">HTML</div>
                        <div class="bar-percentage">
                            <div class="bar-colored-one">90%</div>
                        </div>

                        <div class="bar-text">CSS</div>
                        <div class="bar-percentage">
                            <div class="bar-colored-two">70%</div>
                        </div>

                        <div class="bar-text">Java</div>
                        <div class="bar-percentage">
                            <div class="bar-colored-three">90%</div>
                        </div>

                        <div class="bar-text">JavaScript</div>
                        <div class="bar-percentage">
                            <div class="bar-colored-four">60%</div>
                        </div>
                    </div>

                    <div class="main-content-right-middle">
                        <div class="main-content-right-middle-tittle">GRAPHIC SKILLS</div>
                        <div class="skills-one">
                            <i class="blue fa-solid fa-square"></i>   Photoshop</div>
                        <div class="skills-two">
                            <i class="red fa-solid fa-square"></i>   Final Cut Pro</div>
                        <div class="skills-three">
                            <i class="orange fa-solid fa-square"></i>   Adobe Premiere Pro</div>
                        </div>

                    <div class="main-content-right-buttom">
                        <div class="main-content-right-buttom-tittle">LANGUAGE SKILLS</div>
                        <div class="Language-one">English 
                            <i class="blue fa-solid fa-circle-dot"></i>
                            <i class="blue fa-solid fa-circle-dot"></i>
                            <i class="blue fa-solid fa-circle-dot"></i>
                            <i class="blue fa-solid fa-circle-dot"></i>
                            <i class="grey fa-solid fa-circle-dot"></i></div>
                        <div class="Language-two">Chinese                             
                            <i class="orange fa-solid fa-circle-dot"></i>
                            <i class="orange fa-solid fa-circle-dot"></i>
                            <i class="orange fa-solid fa-circle-dot"></i>
                            <i class="orange fa-solid fa-circle-dot"></i>
                            <i class="orange fa-solid fa-circle-dot"></i></div>
                        <div class="Language-Three">Thai
                            <i class="green fa-solid fa-circle-dot"></i>
                            <i class="green fa-solid fa-circle-dot"></i>
                            <i class="green fa-solid fa-circle-dot"></i>
                            <i class="grey fa-solid fa-circle-dot"></i>
                            <i class="grey fa-solid fa-circle-dot"></i>
                        </div>

                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
    </div>

</body>

</html>